*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

section{
    background-color:#0A22F4;
}

 .container{
    max-width:1450px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
} 

.div-flex{
    display:flex;
  
    justify-content:space-between;
   
   
}

h2{
    color:#FFFFFF;
    font-size:32px;
  
}
.contacts{
    width:463px;
}
.contact-p{
    color:#ffffff;
    font-size:16px;
    text-align: left;
  
  
}
form{
    display:flex;
    flex-direction: column;
}